:root {
    #container {
        background-image: url(../img/bg-light.png);
    }

    #container-score {
        background-image: url(../img/bg-light.png);
    }

    #container-settings {
        background-image: url(../img/bg-light.png);
    }
}

[data-theme="dark"] {

    #container {
        background-image: url(../img/bg.png);
    }

    #container-score {
        background-image: url(../img/bg.png);
    }

    #container-settings {
        background-image: url(../img/bg.png);
    }

}


body {
    position: absolute;
    background-color: black;
    margin: 0px;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.game {
    width: 1600px;
    height: 900px;
    margin: auto;
}

a {
    border: 2px solid black;
    text-align: center;
}

#container-score {
    background-image: url(../img/bg.png);
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    background-image: url(../img/bg.png);
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Настройки */

#container-settings {
    /*background-color: bisque;*/
    background-image: url(../img/bg.png);
    width: 100%;
    height: 100%;
    margin-top: 0;
    top: 0px;
    left: 0px;
    row-gap: 10px;
    position: absolute;
    display: grid;
    grid-template-columns: 15px 150px 2fr;
    grid-template-rows: 15px 150px 50px 50px;
}

#sett-button1 {
    grid-area: 3/3/3/3;
    align-self: self-end;

}

#sett-button2 {
    grid-area: 5/3/5/3;
    align-self: self-start;
}

#sett-back-button {
    width: 100px;
    grid-area: 2/2/2/4;
    align-self: self-start;
}

/*игровые объекты*/
/*#player {}*/

/* Анимации */
.preloader_scene {
    margin-top: -100%;
    width: 100%;
    height: 100%;
    display: flex;
}

.preloader_block {
    /*display: none;*/
    top: 0;
    margin-top: 0%;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    transition-property: left;
    transition-duration: 1s;
}

.animation {
    animation: fadeinout 3s linear forwards;
}

.anim2 {
    animation: fadeinout2 2s linear forwards;
}

.anim3 {
    animation: fadeinout3 1s linear forwards;
}

@keyframes fadeinout {
    0% {
        background-color: black;
        display: block;
    }

    30% {
        background-color: white;
        opacity: 1;
    }

    100% {
        opacity: 0.1;
        display: none;
    }
}

@keyframes fadeinout2 {
    0% {
        opacity: 0;
        display: block;
    }

    50% {
        background-color: white;
        opacity: 1;
    }

    100% {
        opacity: 0.1;
        display: none;
    }
}

@media (width >=1000px) {
    button {
        background-color: blue;
        width: 500px;
        height: 70px;
        color: white;
    }

    #name {
        width: 900px;
        height: 300px;
        background-image: url(../img/gameLogo.png);
    }

    form {
        background-color: red;
        width: 500px;
        height: 70px;
        color: white;
    }
}

@media (width < 1000px) {
    button {
        background-color: red;
        width: 300px;
        height: 70px;
        color: white;
    }

    #name {
        width: 569px;
        height: 203px;
        background-image: url(../img/gameLogo-mini.png);
    }

    form {
        background-color: red;
        width: 300px;
        height: 70px;
        color: white;
    }
}